<div class="tips">
    <h2>Want to know some health tips and food fun facts??</h2>
    <a routerLink="tips1">Tips and Tricks</a>
</div>
<div class="container">
    <p><h2>Welcome to Tastes OF IND </h2>
        <b>
            Tastes Of IND is an Indian multinational restaurant aggregator and food delivery company founded by Gagan, Gayatri Chaduvula, Maneesh and Chandra Gogireddy in 2022 as a startup.
            Tastes of IND provides information, menus and user-reviews of restaurants as well as food delivery options from partner restaurants in select cities.
            As of 2022, the service is available in 24 countries and in more than 10,000 cities. Here we can find a wide varities of dishes of different places, But especially It is very much famous for the Indian foods.
            We have local teams dedicated to finding the best food in your city ,so you can get the coolest foods brought right to you.
            We have in house nutritionists behind collections like Healthy Enough, Vegan, Vegetarian, and more.
            So when you want to find food that fits your diet, or to eat a little healthier, we can help.
            Some nights you just need to clean the living room or call your mom or don't feel like going to the grocery store.
            We're here to help you with food-stuff, so you can do other stuff.

        </b>
</div>

<owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide><img src="https://d3gy1em549lxx2.cloudfront.net/c957be0a-4b55-429e-a088-7215b466a4a6.JPG"></ng-template>  
    <ng-template carouselSlide><img src="https://d3gy1em549lxx2.cloudfront.net/384638b6-cb8a-480b-a6d3-f3f0904c6947.jpg"></ng-template>    
    <ng-template carouselSlide><img src="https://d3gy1em549lxx2.cloudfront.net/4a0389e2-50b7-4df7-ba0c-66343616c8f6.jpg"></ng-template>  
    <ng-template carouselSlide><img src="https://d3gy1em549lxx2.cloudfront.net/444dca03-a34a-421f-90cc-21efc03a5150.jpg"></ng-template>   
    <ng-template carouselSlide><img src="https://d3gy1em549lxx2.cloudfront.net/b6cc0f0a-251a-4b5f-adcf-0dd729528a9d.jpg"></ng-template>
    <ng-template carouselSlide><img src="https://d3gy1em549lxx2.cloudfront.net/f4377499-6c55-4cea-abbb-fa702972ace8.JPG"></ng-template>   
    <ng-template carouselSlide><img src="https://d3gy1em549lxx2.cloudfront.net/1be9ff91-ced3-452b-933b-d1fc40906724.JPG"></ng-template> 
    <ng-template carouselSlide><img src="https://d3gy1em549lxx2.cloudfront.net/76a62e77-8316-4c12-8d00-6102d88e3a7b.JPG"></ng-template>   
    <ng-template carouselSlide><img src="https://d3gy1em549lxx2.cloudfront.net/e555f516-7f7d-403e-9af7-6bc3b6547eb1.jpg"></ng-template>  
    <ng-template carouselSlide><img src="https://d3gy1em549lxx2.cloudfront.net/fd4f117b-097a-4b75-8279-2f326cde6881.jpg"></ng-template>   
  </owl-carousel-o>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col  " >
                    <h4>Tastes Of IND </h4>
                    <ul>
                        <li><a href="#" routerLink="search/:searchTerm">Menu</a></li>
                        <li><a href="#">Catering</a></li>
                        <li><a href="#">Nutrition</a></li>
                        <li><a href="#">Order Lookup</a></li>
                        <li><a href="#">Gift Card</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Support</h4>
                    <ul>
                        <li><a href="#">Get Help</a></li>
                        <li><a href="#">FAQs</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Legal</h4>
                    <ul>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Terms of Use</a></li>
                        <li><a href="#">Our ADs </a></li>
                        <li><a href="#">Do not Sell My <br>Personal Information</a></li>
                    </ul>
                </div>
                
                <div class="footer-col">

                    <h4 style="font-size: 14px;"> <svg xmlns="http://www.w3.org/2000/svg" width="11" height="15" fill="#E4002B" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                        <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z" />
                    </svg>Find the Tastes Of IND </h4></div>
                    <div class="footer-col"><img src="https://images.ctfassets.net/wtodlh47qxpt/6BdZsyjLn64c06uCIE73d1/fb530f5d5231533b049463f6c7e8a2b1/google_play.svg"></div>
                    <div class="footer-col"><img src="https://images.ctfassets.net/wtodlh47qxpt/em3mcMuAdXWlgucSJiTbS/d3ae7e51ed101d829e459355e255c47f/apple.svg"></div>
                    <div class="footer-col">
                        <ul>
                        <img src="https://constant.myntassets.com/web/assets/img/f10bc513-c5a4-490c-9a9c-eb7a3cc8252b1574604275383-twitter.png" height="30px">&nbsp;&nbsp;  
                        <img src="https://constant.myntassets.com/web/assets/img/d2bec182-bef5-4fab-ade0-034d21ec82e31574604275433-fb.png" width="30px" height="30px">&nbsp; &nbsp; 
                       <img src="https://constant.myntassets.com/web/assets/img/a7e3c86e-566a-44a6-a733-179389dd87111574604275355-yt.png" width="30px" height="30px"> &nbsp; 
                       <img src="https://constant.myntassets.com/web/assets/img/b4fcca19-5fc1-4199-93ca-4cae3210ef7f1574604275408-insta.png" width="30px" height="30px"> &nbsp;
                        </ul>
                    </div>
                    
                    <h6 style="text-align: center; font-size: 12px; color: #dbdbdb; padding-left: 500px; ">Copyright &#169; Tastes Of IND Corporation 2020 All Rights Reserved </h6>
        
                
                </div></div>
        </footer>